#card-dado {
    margin: 4px;
}

#card-descricao {
    display: flex;
    padding: 4px;
    flex-direction: column;
}

#card-url {
    display: flex;
    padding: 4px;
    flex-direction: column;
}

#nome-arquivo {
    margin: 4px;
    font-size: 19px;
    color: #1e1e1e;
}

#data-arquivo {
    margin: 4px;
}

#url-arquivo {
    margin: 4px;
    font-size: 12px;
    color: #1e1e1e;
}

.icone {
    display: flex;
    align-items: center;
    margin: 8px;
}

#share {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-right: 8px;
}